.RData
.Rbuildignore
.Rhistory
.Rproj.user
node_modules
browser
*.Rproj
.tags
bower_components
.idea/
.keys
.tmp

#__image_snapshots__
#bdd/features/__image_snapshots__/
theSrc/jestTest/__image_snapshots__/